<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExamTracker</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/entry_form.css">
    <link rel="stylesheet" href="/styles/form.css">
  </head>
<body>
    <section name="navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top" aria-label="Fourth navbar example">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Exam Tracker</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item dropdown school">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">ENTRY</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/addExaminer">Examiner</a></li>
                      <li><a class="dropdown-item" href="/addExam">Allot Exam</a></li>
                      <li><a class="dropdown-item" href="/addMoreExam">Post Exam Details</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown school">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">EDIT</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/editExaminer">Examiner</a></li>
                      <li><a class="dropdown-item" href="/editExamPage">Exam</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown examiner">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">EXAMINER</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/viewExaminer">View Examiner</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown exam">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">EXAM</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/pendingExams">View Pending</a></li>
                      <li><a class="dropdown-item" href="/completedExams">View Completed</a></li>
                      <li><a class="dropdown-item" href="/allExams">View All</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown report">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">REPORT</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/examinerReportInitiate">Examiner</a></li>
                      <!-- <li><a class="dropdown-item" href="/agentReportInitiate">Agent</a></li> -->
                      <!-- <li><a class="dropdown-item" href="#">School</a></li>
                      <li><a class="dropdown-item" href="#">3</a></li> -->
                    </ul>
                  </li>
                  <li class="nav-item" style="margin-left:850px">
                <a class="nav-link" href="/logout">Logout<i class="bi bi-box-arrow-left logout"></i></a>
              </li>
                </ul>
              </div>
            </div>
        </nav> 
    </section>
    <main>
    <div class="background">