<%- include("../partials/header.ejs")%>
<div class="flex-container">
    <h3 style="margin-bottom:20px ;">Enter detail for particular school by code / list of schools in a zone</h3>
    <div class="htable" style="margin-bottom: 15px; width:45%">
        <form class="viewSchoolByCode" action="/viewSchoolByCode" method="post">
            <div class="form-group">
                <label for="code">Enter School Code for particular school: </label>
                <input type="text" class="form-control" id="code" name="code">
                <div class="button-submit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="htable" style="margin-bottom: 15px; width:45%">
        <form class="viewSchoolByZone" action="/viewSchoolByZone" method="post">
            <div class="form-group">
                <label for="zone">Enter zone to view all schools: </label>
                <input type="text" class="form-control" id="zone" name="zone">
                <div class="button-submit">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include("../partials/footer.ejs")%>